<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/tiny-blog/stylesheets/main.css">
		</head>
		<body>
			<nav>
			<img id="banner" src="/tiny-blog/assets/images/tiny_header.png" alt="This should be a wonderful drawing :)" width=50% align=left>
	    		<ul>
	        		<li><a href="/tiny-blog">Maison</a></li>
	        		<li><a href="/tiny-blog/blog">Articles</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
				

			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ekatsim@protonmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
